
.project
.idea
**/*.iml
.vscode
/.metadata/
/.mvn/wrapper/maven-wrapper.jar
/.mvn/.develocity
.flattened-pom.xml
.project
.settings
.surefire-*
**/target
target/
.settings
.classpath
.cache-main
.cache-tests
.toDelete
.factorypath
.surefire-*
velocity.log
felix-cache/
/.metadata/
.DS_Store
node
node_modules
package-lock.json
