<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <SecureFileAppender name="SecureFile"
                            fileName="logs/secure-log.log"
                            encryptionKey="mySecretKey00000mySecretKey00000"
                            enableEncryption="false"
                            enableHashing="true"
                            append="false"
                            iv="bG9nZW52aXJvbndh"> <!-- iv 16 bytes  key  32 bytes -->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </SecureFileAppender>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="SecureFile"/>
        </Root>
    </Loggers>

</Configuration>
